[Unit]
Description=Servicio Logging
After=syslog.target network.target auditd.service docker.service Apps.mount

[Service]
Type=oneshot
ExecStart=/bin/bash /Apps/docker/servicio-log/start-fig.sh
ExecStop=/bin/bash /Apps/docker/servicio-log/stop-fig.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
